* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #000;
  color: #fff;

}

nav {
  background-color: #000;
  padding: 24px;
  position: relative;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 20px;
  gap: 80px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}


/* Horní panel */
.header {
  background-color: #000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  position: fixed;
  z-index: 11;
}

.logo {
  width: 100px;
}

.btn-register {
  background-color: #e50914;
  border: none;
  color: #fff;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-register:hover {
  background-color: #f40612;
}

a {
  text-decoration: none;
}

/* Hlavní sekce */
.hero {
  position: relative;
  height: 100vh;
  background-image: url("../images/background.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  backdrop-filter: blur(2px);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
}

.hero-content h1 {
  font-size: 2.8rem;
  padding: 10px 140px;
}


.hero-content p {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.hero-content .small-text {
  font-size: 1rem;
}


/* Formulář */
.email-form {
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
}

.email-form input {
  padding: 14px;
  font-size: 1rem;
  width: 380px;
  border: none;
  border-radius: 2px;
  outline: none;
  background-color: #000;
  color: #fff
}

.btn-start {
  background-color: #e50914;
  color: #fff;
  border: none;
  padding: 14px 25px;
  font-size: 1rem;
  border-radius: 2px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-start:hover {
  background-color: #f40612;
}

.container {
  padding: 40px 0;
}

.movies {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.movies img {
  width: 220px;
  height: 330px;
  object-fit: cover;
  border-radius: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.movies img:hover {
  transform: scale(1.07);
  box-shadow: 0 0 20px rgba(229, 9, 20, 0.6);
}

.movies-section {
  text-align: center;
}

.btn {
  background-color: #e50914;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #f40612;
}

.find-more {
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
}

footer {
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

.footer-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
  width: 90%;
  gap: 40px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-column a {
  color: #b3b3b3;
  text-decoration: underline;
  font-size: 14px;
}

.footer-column a:hover {
  text-decoration: underline;
  color: white;
}

.registration-form {
  padding: 120px 0;
}

.registration-form form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.registration-form input {
  padding: 10px 10px;
  border: 1px solid #fff;
  background-color: #000;
  margin-bottom: 10px;
  color: #fff
}

.btn-submit {
  background-color: #e50914;
  color: #fff;
  border: none;
  padding: 7px 25px;
  font-size: 1rem;
  cursor: pointer;
}

.btn-submit:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.registration-form input.input-error {
  border-color: red;
}

.registration-form input.input-ok {
  border-color: green;
}

.action-form {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  padding: 30px 40px;
  border-radius: 8px;
  text-align: center;
}

select {
  font-size: 1rem;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: #111;
  color: #fff;
  border: 1px solid #333;
}

select:hover {
  border-color: #e50914;
}

#movies-list {
  display: flex;
  padding: 0 40px;
  justify-content: center;
  flex-wrap: wrap;
}

#movies-list a {
  display: block;
  width: 12%;
  margin: 10px;
  transform: rotateZ(2deg);
  flex-basis: 12%;
}

#movies-list img {
  display: block;
  width: 100%;
}

#movies-list a:hover {
  transform: scale(1.05) rotateZ(2deg);
}

#scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #e50914;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  border: 2px solid #e50914;
  display: none;
  z-index: 100;
}

#scroll-top.visible {
  display: block;
}

@media (max-width: 600px) {
  .hero-content h1 {
    font-size: 1.8rem;
    padding: 10px 20px;
  }

  .hero-content .small-text {
    font-size: 0.8rem;
  }

  .email-form {
    padding: 20px;
  }

  .email-form input {
    width: 100%;
  }

  .footer-container {
    justify-content: start;
  }


  #movies-list img {
    width: 100%;
  }
}